.landing-page {
	font-family: Arial, sans-serif;
}

.hero {
	padding: 10px 20px 80px 0px;
	text-align: center;
}

.hero-title {
	font-size: 3rem;
	margin-bottom: 20px;
}

.hero-subtitle {
	font-size: 1.5rem;
	margin-bottom: 20px;
}

.hero-explore-button {
	background-color: #00c805;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.hero-explore-button:hover {
	background-color: #018a03;
}

.below-hero-image {
	display: block;
	width: 70%; /* Adjust the percentage to control the size */
	height: auto; /* Maintain the aspect ratio */
	margin: 20px auto; /* Adds spacing above and centers the image */
	border-radius: 10px; /* Optional: Adds rounded corners */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
}

.investing {
	padding: 40px;
	text-align: center;
	background-color: #f9f9f9;
}

.below-investing-image {
	display: block;
	width: 70%; /* Adjust the percentage to control the size */
	height: auto; /* Maintain the aspect ratio */
	margin: 20px auto; /* Adds spacing above and centers the image */
	border-radius: 10px; /* Optional: Adds rounded corners */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
}

.learn-more-button {
	background-color: #00c805;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.crypto {
	padding: 40px;
	background-color: #000;
	color: #fff;
	text-align: center;
}

.mobile-promo {
	padding: 40px;
	text-align: center;
}

.mobile-promo-image {
	max-width: 100%;
	height: auto;
	margin: 20px 0;
}

.download-button {
	background-color: #00c805;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
