.not-found-page {
	text-align: center;
	margin: 50px;
	font-family: Arial, sans-serif;
	color: #333;
}

.not-found-page h1 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 20px;
}

.not-found-page p {
	font-size: 18px;
	margin-bottom: 30px;
}

.go-home-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #0073e6;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	font-size: 16px;
}

.go-home-button:hover {
	background-color: #005bb5;
}
