.navBarUserBtn {
  width: 25%;
  display: flex;
  gap: 2vw;
  justify-content: end;
  align-items: center;
}

.navBarBtn {
  display: flex;
  background-color: rgb(0, 128, 0);
  width: 55px;
  height: 35px;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

.navBarBtn:hover {
  background-color: rgb(255, 215, 0);
  color: rgb(255, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}

.navBarLogoutBtn {
  width: 125px;
  height: 25px;
  color: white;
  background-color: black;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.navBarLogoutBtn:hover {
  background-color: rgb(163, 163, 163);
  color: black;
  border: 1px solid black;
}

@media screen and (max-width: 700px) {
  .navBarUserBtn {
    width: 25%;
    display: grid;
    gap: 2vw;
    justify-content: end;
    align-items: center;
  }
  .navBarLogoutBtn {
    grid-row-start: 2;
  }
}